/*https://patorjk.com/software/taag/#p=display&f=Big%20Money-ne
  /$$$$$$                                                           
 /$$__  $$                                                          
| $$  \__/  /$$$$$$  /$$$$$$/$$$$  /$$$$$$/$$$$   /$$$$$$  /$$$$$$$ 
| $$       /$$__  $$| $$_  $$_  $$| $$_  $$_  $$ /$$__  $$| $$__  $$
| $$      | $$  \ $$| $$ \ $$ \ $$| $$ \ $$ \ $$| $$  \ $$| $$  \ $$
| $$    $$| $$  | $$| $$ | $$ | $$| $$ | $$ | $$| $$  | $$| $$  | $$
|  $$$$$$/|  $$$$$$/| $$ | $$ | $$| $$ | $$ | $$|  $$$$$$/| $$  | $$
 \______/  \______/ |__/ |__/ |__/|__/ |__/ |__/ \______/ |__/  |__/
*/

    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, th, td, a
    {
    margin: 0px;
    padding: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        border: 0;
    }

    a, p, h1, h2, h3 {
        color:azure
    }
        a {
            text-decoration: none;
            border-bottom: 0.125rem dashed;
        }
        p {
            line-height: 1.34rem;
        }
        h1 {
            font-size: 4rem;
        }

    /* Blur */
    .intro-text-blur, .whoAmI-head {
        backdrop-filter: blur(23px);
    }
    /*border-radius*/
    .whoAmI-content, .toggle-button, .intro-text-blur, .whoAmI-head {
        border-radius: 10px;
    }


/*
  /$$$$$$  /$$       /$$           /$$                          
 /$$__  $$|__/      | $$          | $$                          
| $$  \__/ /$$  /$$$$$$$  /$$$$$$ | $$$$$$$   /$$$$$$   /$$$$$$ 
|  $$$$$$ | $$ /$$__  $$ /$$__  $$| $$__  $$ |____  $$ /$$__  $$
 \____  $$| $$| $$  | $$| $$$$$$$$| $$  \ $$  /$$$$$$$| $$  \__/
 /$$  \ $$| $$| $$  | $$| $$_____/| $$  | $$ /$$__  $$| $$      
|  $$$$$$/| $$|  $$$$$$$|  $$$$$$$| $$$$$$$/|  $$$$$$$| $$      
 \______/ |__/ \_______/ \_______/|_______/  \_______/|__/      
*/

    .sidebar {
        background: #312450;
        height: 100vh;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        text-align: right;
        top: 0;
        width: 17vw;
        z-index: 10000;
        transition: width 0.3s ease;
    }
        .language {
            text-align: left;
            margin-left: 3vw;
            margin-top: 10%;
        }
            .language a {
                color: rgba(240, 255, 255, 0.37);
            }

        .menu {
            height: 90vh;
            display: flex;
            align-items: center;
        }
            .menu ul {
                list-style: none;
                width: 100%;
            }
            .menu li {
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-right: 14%;
            }
            .menu a {
                font-size: 0.9em;
                font-weight: bold;
                letter-spacing: 0.25em;
                line-height: 1.75;
                outline: 0;
                padding: 1.35em 0;
                text-transform: uppercase;
                border-bottom: 0.125rem solid transparent;
                border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(187, 0, 255), rgb(187, 0, 255));
                border-image-slice: 1;
            }


/*
  /$$$$$$                        /$$                           /$$    
 /$$__  $$                      | $$                          | $$    
| $$  \__/  /$$$$$$  /$$$$$$$  /$$$$$$    /$$$$$$  /$$$$$$$  /$$$$$$  
| $$       /$$__  $$| $$__  $$|_  $$_/   /$$__  $$| $$__  $$|_  $$_/  
| $$      | $$  \ $$| $$  \ $$  | $$    | $$$$$$$$| $$  \ $$  | $$    
| $$    $$| $$  | $$| $$  | $$  | $$ /$$| $$_____/| $$  | $$  | $$ /$$
|  $$$$$$/|  $$$$$$/| $$  | $$  |  $$$$/|  $$$$$$$| $$  | $$  |  $$$$/
 \______/  \______/ |__/  |__/   \___/   \_______/|__/  |__/   \___/  
*/
    .content-container {
        display: flex;
    }
    .content-spacer {
        height: 1px;
        width: 17vw;
        flex-shrink: 0;
    }
    .content {
        min-width: 0;
        overflow: auto;
    }

    /*
      ___       _ https://patorjk.com/software/taag/#p=display&f=Standard
     |_ _|_ __ | |_ _ __ ___  
      | || '_ \| __| '__/ _ \ 
      | || | | | |_| | | (_) |
     |___|_| |_|\__|_|  \___/ 
    */
        #intro {
            height: 100vh;
        }
            .intro-background {
                position: fixed;
                filter: sepia(100%) saturate(1000%) hue-rotate(245deg);
                object-fit: cover;
                height: 100vh;
                width: 83vw;
            }
            .intro-text {
                padding-left: 10vw;
                height: 100%;
                display: flex;
                align-items: center;
            }
                .intro-text-blur {
                    padding: 20px;
                    height: max-content;
                    width: max-content;
                }
                    .intro-text h1 {
                        margin-bottom: 2.4rem;
                    }
                    .intro-text p {
                        font-size: 1.7rem;
                        line-height: 3rem;
                        color: rgba(255, 255, 255, 0.55);
                    }
                    .intro-text a {
                        color: rgba(255, 255, 255, 0.55);
                    }

    /*
                    _   _               _ 
      ___  ___  ___| |_(_) ___  _ __   / |
     / __|/ _ \/ __| __| |/ _ \| '_ \  | |
     \__ \  __/ (__| |_| | (_) | | | | | |
     |___/\___|\___|\__|_|\___/|_| |_| |_|
    */
        
        #whoAmI {
            min-height: 100vh;
        }
            .whoAmI-spacer {
                height: 3vh;
            }
            .whoAmI-head {
                height: auto;
                min-height: 11rem;
                margin: 3vh;
                margin-top: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
                .whoAmI-head-title, .whoAmI-head-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    width: 50%;
                    padding: 5%;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }

            .whoAmI-content {
                min-height: 67vh;
                margin: 3vh;
                padding: 1rem;
                position: relative;
                background-image: linear-gradient(45deg, blueviolet, darkmagenta);
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }
                .whoAmI-content div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
    /*
      _____           _            
     |  ___|__   ___ | |_ ___ _ __ 
     | |_ / _ \ / _ \| __/ _ \ '__|
     |  _| (_) | (_) | ||  __/ |   
     |_|  \___/ \___/ \__\___|_|   
    */

        #footer {
            background-color: #493382;
            height: 20vh;
            position: relative;
        }


/*
  /$$$$$$  /$$                                           /$$                           /$$    
 /$$__  $$|__/                                          | $$                          | $$    
| $$  \__/ /$$ /$$$$$$$$  /$$$$$$         /$$$$$$   /$$$$$$$ /$$ /$$   /$$  /$$$$$$$ /$$$$$$  
|  $$$$$$ | $$|____ /$$/ /$$__  $$       |____  $$ /$$__  $$|__/| $$  | $$ /$$_____/|_  $$_/  
 \____  $$| $$   /$$$$/ | $$$$$$$$        /$$$$$$$| $$  | $$ /$$| $$  | $$|  $$$$$$   | $$    
 /$$  \ $$| $$  /$$__/  | $$_____/       /$$__  $$| $$  | $$| $$| $$  | $$ \____  $$  | $$ /$$
|  $$$$$$/| $$ /$$$$$$$$|  $$$$$$$      |  $$$$$$$|  $$$$$$$| $$|  $$$$$$/ /$$$$$$$/  |  $$$$/
 \______/ |__/|________/ \_______/       \_______/ \_______/| $$ \______/ |_______/    \___/  
                                                       /$$  | $$                              
                                                      |  $$$$$$/                              
                                                       \______/                               
*/

    /*
      ____  _     _      _                
     / ___|(_) __| | ___| |__   __ _ _ __ 
     \___ \| |/ _` |/ _ \ '_ \ / _` | '__|
      ___) | | (_| |  __/ |_) | (_| | |   
     |____/|_|\__,_|\___|_.__/ \__,_|_|   
    */
        @media screen and (max-width: 1200px) {
            .sidebar {
                width: 0;
                text-align: center;
            }
            .sidebar.active {
                width: 100vw;
            }
            .toggle-button {
                position: fixed;
                top: 10px;
                left: 10px;
                background-color: #312450;
                color: white;
                font-size: 1.5rem;
                padding: 0.5rem;
                z-index: 10001;
            }
            .content-spacer {
                width: 0;
            }
            .sidebar.active + .content {
                display: block;
            }

            .intro-background {
                width: 100vw;
            }
        }

        @media screen and (min-width: 1201px) {
            .toggle-button {
                display: none;
            }
        }


    /*
                    _   _               _ 
      ___  ___  ___| |_(_) ___  _ __   / |
     / __|/ _ \/ __| __| |/ _ \| '_ \  | |
     \__ \  __/ (__| |_| | (_) | | | | | |
     |___/\___|\___|\__|_|\___/|_| |_| |_|
    */

        @media screen and (max-width: 1000px) {
            .whoAmI-content {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
        }
        @media screen and (max-width: 640px) {
            .whoAmI-content {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, auto);
            }
        }

        @media screen and (max-width: 680px) {
            .whoAmI-head {
                flex-direction: column;
                height: auto;
            }
        
            .whoAmI-head-title, .whoAmI-head-text {
                width: 90%;
                padding: 1rem;
            }
        }