body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button, textarea, p, th, td, a
{
  margin: 0px;
  padding: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

a, p, h1, h2, h3 {
    color:azure
}
    a {
        text-decoration: none;
        border-bottom: 0.125rem dashed;
    }
    h1 {
        font-size: 4rem;
    }
    

/* Sidebar */

    .sidebar {
        background: #312450;
        height: 100%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        text-align: right;
        top: 0;
        width: 17vw;
        z-index: 10000;
        min-width: 12rem;
    }
        .language {
            text-align: left;
            margin-left: 3vw;
            margin-top: 10%;
        }
            .language a {
                color: rgba(240, 255, 255, 0.37);
            }

        .menu {
            height: 70rem;
            display: flex;
            align-items: center;
        }
            .menu ul {
                margin-left: 50%;
                list-style: none;
            }
            .menu li {
                padding: 1rem;
            }
            .menu a {
                font-size: 0.9em;
                font-weight: bold;
                letter-spacing: 0.25em;
                line-height: 1.75;
                outline: 0;
                padding: 1.35em 0;
                text-transform: uppercase;
                border-bottom: 0.125rem solid transparent;
                border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(187, 0, 255), rgb(187, 0, 255));
                border-image-slice: 1;
            }


/*Content*/
    .content {
        margin-left: 17vw;
    }

    /* Intro */

        #intro {
            height: 100vh;
        }
            .intro-background {
                position: fixed;
                filter: sepia(100%) saturate(1000%) hue-rotate(245deg);
                object-fit: cover;
                height: 100vh;
                width: 83vw;
            }
            .intro-text {
                padding-top: 40vh;
                padding-left: 9rem;
            }
                .intro-text-blur {
                    backdrop-filter: blur(23px);
                    border-radius: 10px;
                    padding: 20px;
                    height: max-content;
                    width: max-content;
                }
                    .intro-text h1 {
                        margin-bottom: 2.4rem;
                    }
                    .intro-text p {
                        font-size: 1.7rem;
                        line-height: 3rem;
                        color: rgba(255, 255, 255, 0.55);
                    }
                    .intro-text a {
                        color: rgba(255, 255, 255, 0.55);
                    }
    
    /*section 1*/
        
        #whoAmI {
            height: 100vh;
        }
            .whoAmI-spacer {
                height: 3vh;
            }
            .whoAmI-head {
                backdrop-filter: blur(23px);
                border-radius: 10px;
                height: 24vh;
                margin: 3vh;
                margin-top: 0;
            }
                .whoAmI-head-title, .whoAmI-head-text {
                    float: left;
                    width: 40%;
                    height: 100%;
                    padding-left: 5%;
                    padding-right: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            .whoAmI-content {
                height: 67vh;
                margin: 3vh;
                border-radius: 10px;
                position: relative;
                background-image: linear-gradient(45deg, blueviolet, darkmagenta);
            }
    
    /*Footer*/

        #footer {
            background-color: #493382;
            height: 20vh;
            position: relative;
        }